<app-page-content
  sliderTitle="Search Results"
  [subheaderTitle]="getHeaderTitle()"
  [showBoxSearch]="false"
>

  <div class="search-container">
    <input
      type="search"
      placeholder="Search for an article"
      value="{{searchStr}}"
      (input)="onSearchInput($event)"
    >
    <button class="btn">Search</button>
  </div>

  <section class="blog__listArticlesContainer">
    @for (article of articles; track article._id) {
      <app-article-preview
        [article]="article"
        [style.view-transition-name]="'article-card-' + article._id"
      />
    }
  </section>
</app-page-content>
