:host {
  view-transition-name: nav-menu;
}

.nav-menu ul li {
  display: inline;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-menu a {
  position: relative;
  text-decoration: none;
  color: #444;
  transition: 400ms color;
}

.nav-menu a::after {
  opacity: 0;
  position: absolute;
  content: '';
  height: 2px;
  bottom: -2px;
  width: 100%;
  left: 0;
  background-color: var(--color-primary-darker);
  box-shadow: 0 2px 5px var(--color-primary-darker);
  transition: 400ms all;
}

.nav-menu a:hover {
  color: var(--color-primary-darker);
}

.nav-menu a:hover::after,
.nav-menu a.nav-menu__active::after {
  opacity: 1;
}

.nav-menu a.nav-menu__active {
  color: var(--color-primary-darker);
}

.nav-menu a.nav-menu__active:after {
  view-transition-name: menu-selector;
}


