.loader {
  --thinkness: 5px;

  border: var(--thinkness) solid #f3f3f3;
  border-top: var(--thinkness) solid var(--color-primary);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  animation: spin 1s linear infinite;
  transition: opacity 200ms ease-in-out;
}

.loader--hidden {
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
