<form class="mid-form" #myForm="ngForm" (ngSubmit)="sendData(myForm)">
  @if (article._id) {
    <div class="form-group form-article-image">
      <img [src]="getImageUrl(article.image)" [alt]="article.title">
    </div>
  }

  @if (myForm.invalid) {
    <div class="errorMessages">
      Please fill in all red fields
    </div>
  }

  <div class="form-group">
    <label for="title">Article Title*</label>
    <input
      id="title"
      type="text"
      name="title"
      placeholder='Article about Time and Space'
      [(ngModel)]="articleFormFields.title"
      #title="ngModel"
      required/>
  </div>

  <div class="form-group">
    <label for="article-content">Content of the Article*</label>
    <textarea
      id="article-content"
      type="text"
      name="content"
      cols=30
      rows=10
      placeholder='Text about Time and Space'
      [(ngModel)]="articleFormFields.content"
      #content="ngModel"
      required
    ></textarea>
  </div>

  <div class="form-group form-group__image">
    <label for="article-image">Image of the Article</label>
    <div class="form-group__image-preview">
      @if (previewImageUrl) {
        <img [src]="previewImageUrl" alt="Image preview">
      }
    </div>
    <input
      type="file"
      id="article-image"
      name="imagen"
      (change)="onFileSelected($event)"
      accept="image/*"
    />




  </div>

  <div class="form-group form-group__buttonBar">
    <input type="submit" value="Save" class="btn btn-success" [disabled]="myForm.invalid"/>
    <button type="button" class="btn" (click)="cancelEditionAndGoBack()">Cancel</button>
  </div>

</form>
