.btn {
  display: block;
  background-color: var(--color-primary-darker);
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 9rem;
  border-radius: 5px;
  transition: 200ms all;
  border: none;
}

.btn-white {
  background: white;
  color: var(--color-dark-gray);
  padding: 10px;
  width: 100px;
  height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 30px;
  box-shadow: 0 0 5px #585858FF;
  border-radius: 4px;
  transition: 200ms all;
}

.btn-white:hover {
  background: var(--color-dark-gray);
  color: white;
}

.btn:hover {
  background: var(--color-primary);
  cursor: pointer;
}

.btn-success {
  background: var(--color-success);
}

.btn-success:hover {
  background: var(--color-success-light);
}

.btn-success[disabled] {
  background: grey;
}

.btn-warning {
  background: var(--color-warning);
  color: white
}

.btn-warning:hover {
  background: var(--color-warning-light);
}

.btn-danger {
  background: var(--color-danger);
  color: white
}

.btn-danger:hover {
  background: var(--color-danger-light);
}
