:root {
  --color-primary: #61dafb;
  --color-primary-darker: #3cb2d3;
}


body {
  /* text-align: center; */
  margin: 0px;
  padding: 0px;

  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-smoothing: antialiased;
}

div.App {
  min-height: 100vh;
  box-sizing: border-box;
  border-top: 7px solid var(--color-primary);
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 100px 50px 10px auto 3fr auto auto;
  justify-items: center;
  align-items: start;

  grid-template-areas:
    "header header  header"
    "nav    nav     nav"
    "sep    sep     sep"
    "slider slider  slider"
    ".      content ."
    ".      aside   ."
    "footer footer  footer"
  ;
}

#header {
  background: white;
  grid-area: header;
}


#menu {
  font-size: 18px;
  grid-area: nav;
}

/* Separator Line */
/* after menu */
div.App::before {
  grid-area: sep;

  content: "";
  width: 90%;

  border-bottom: 1px solid #ccc;
  margin: 15px 0 0 0;
}

#content {
  width: 100%;
  grid-area: content;
  padding-top: 20px;
}

#sidebar {
  grid-area: aside;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#footer {
  grid-area: footer;

  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: #ececec;
  color: #444;

  display: flex;
  justify-content: center;
}

#article-container {
  display: flex;
  flex-flow: column nowrap;
}

#logo {
  font-size: 30px;
  margin-top: 35px;
  display: flex;
  align-items: start;
  padding-bottom: 15px;
}


#logo img {
  height: 50px;
  margin-top: -10px;
  margin-right: 10px;
  animation: girar infinite 20s linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#menu ul li {
  display: inline;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;

}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: var(--color-primary-darker);
}

#menu a.active {
  color: var(--color-primary-darker);
}

#menu a.active::after {
  content: '';
  height: 2px;
  bottom: -2px;
  left: 0;
  box-shadow: 0px 2px 5px var(--color-primary-darker);
}

#slider {
  grid-area: slider;

  width: 100%;
  height: 350px;
  color: white;
  text-shadow: 0px 0px 5px #444;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Fondo en Degradado */
  background: rgba(73, 155, 234, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(81, 175, 247, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(81, 175, 247, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(81, 175, 247, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(81, 175, 247, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0%, rgba(81, 175, 247, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(73, 155, 234, 1) 0%, rgba(81, 175, 247, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#499bea', endColorstr='#51aff7', GradientType=1);
}

#slider h1 {
  text-align: center;
}

.btn-white {
  background: white;
  color: rgb(88, 88, 88);
  padding: 10px;
  width: 100px;
  height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 30px;
  box-shadow: 0px 0px 5px rgb(88, 88, 88);
  border-radius: 4px;
  transition: 200ms all;
}

.btn-white:hover {
  background: #444;
  color: white;
}

#slider.slider-small {
  height: 150px;
}

.sidebar-item {
  background: #ececec;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3 {
  text-transform: uppercase;
  font-size: 17px;
  margin: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid #ccc;
}

.sidebar-item .btn {
  margin: 0px auto;
  margin-top: 10px;
}

.btn {
  display: block;
  background-color: var(--color-primary-darker);
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  border-radius: 5px;
  transition: 200ms all;
  border: none;
}

.btn:hover {
  background: var(--color-primary);
  cursor: pointer;
}

.btn-success {
  background: rgb(23, 150, 19);
}

.btn-success:hover {
  background: rgb(63, 197, 59);
}

.btn-warning {
  background: rgb(238, 165, 9);
  color: white
}

.btn-warning:hover {
  background: rgb(255, 201, 85);
}

.btn-danger {
  background: rgb(189, 0, 0);
  color: white
}

.btn-danger:hover {
  background: rgb(255, 0, 0);
}

.mid-form {
  width: 60%;
  margin: 0px auto;

  display: flex;
  flex-flow: column nowrap;
}

.mid-form label {
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.mid-form img {
  width: 100%;
}

.mid-form .form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 5px;
  transition: 200ms all;
  font-size: 16px;
}

input[type="text"]:hover,
input[type="file"]:hover,
textarea:hover {
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 5px var(--color-primary) inset;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  resize: none;
}

.radio-button {
  margin-top: 10px;
  float: left;
  margin-bottom: 20px;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

.article-item {
  width: 100%;
  border-bottom: 1px solid var(--color-primary-darker);
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;

}

.image-wrap {
  width: 130px;
  height: 130px;
  border: 1px solid #444;
  border-radius: 5px;
  overflow: hidden;
}

.image-wrap a {
  text-align: center;
  width: inherit;
  height: inherit;
}

.image-wrap img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: left top;
}

@keyframes previewArticleImageHover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


.image-wrap img.preview:hover {
  cursor: pointer;
  animation: previewArticleImageHover 1000ms ease-in-out 1 normal both;
}

.article-item h2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 0 7px;
}

.article-item .date {
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}

.article-item a {
  display: block;
  text-decoration: none;
}

.article-item a.btn {
  text-transform: none;
  margin-top: 10px;
  max-width: 160px;
  padding: 10px;
  height: 20px;
  float: left;
}

#content .subheader {
  font-size: 38px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.article-detail {
  border-bottom: none;
}

.article-detail .image-wrap {
  width: 100%;
  height: 300px;
}

.article-detail img {
  object-position: left center;
}

.article-item.article-detail .article-button-bar {
  margin-top: 10px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#content .article-item.article-detail .subheader {
  border: none;
  margin-bottom: 5px;

}

button.star-button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid var(--color-primary-darker);
  border-radius: 5px;
  cursor: pointer;
}

span.star-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--color-primary-darker);
  clip-path: polygon(50% 0%,
      64% 36%,
      100% 36%,
      70% 57%,
      82% 91%,
      50% 72%,
      18% 91%,
      30% 57%,
      0% 36%,
      36% 36%);
}

button.star-button[disabled] {
  border: 1px solid lightgrey;
}

button.star-button[disabled] span.star-icon {
  background-color: lightgrey;
}

.linkWithTransition {
  cursor: pointer;
}


@media screen and (min-width: 1024px) {

  div.App {
    grid-template-columns: 5% 200px repeat(4, 1fr) 5%;
    grid-template-rows: 100px 10px auto 1fr auto;
    align-items: start;
    grid-template-areas:
      ".      header   header  nav     nav     nav    ."
      ".      sep      sep     sep     sep      sep   ."
      "slider slider   slider  slider  slider  slider slider"
      ".      content  content content content aside  ."
      "footer footer   footer  footer  footer  footer footer"
    ;
  }

  #header {
    padding-left: 35%;
    width: 100%;
    align-self: end;
  }

  #menu {
    width: 100%;
    align-self: end;
  }

  #sidebar {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 15px;
  }

}


@media screen and (min-width: 1300px) {

  div.App {
    grid-template-areas:
      ".      header   header  .     nav     nav    ."
      ".      sep      sep     sep     sep      sep   ."
      "slider slider   slider  slider  slider  slider slider"
      ".      content  content content content aside  ."
      "footer footer   footer  footer  footer  footer footer"
    ;
  }


}