.sidebar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}


@media (min-width: 1000px) {
  .sidebar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
