/* You can add global styles to this file, and also import other style files */
@import "./assets/css/buttons.css";
@import "./assets/css/ViewTransitionApi.css";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #f13e3e;
  --color-primary-darker: #7a1d1d;
  --color-ligth-gray: #ececec;
}


body {
  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-smoothing: antialiased;
}


/* form */

.mid-form {
  width: 60%;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
}

.mid-form label {
  display: block;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
}

.mid-form img {
  width: 100%;
}

.mid-form .form-group {
  margin-bottom: 10px;
}

input[type="text"],
input[type="file"],
textarea {
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin-bottom: 5px;
  transition: 200ms all;
  font-size: 16px;
}

input[type="text"]:hover,
input[type="file"]:hover,
textarea:hover {
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 5px var(--color-primary) inset;
}
