/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #f13e3e;
  --color-primary-darker: #7a1d1d;
  --color-ligth-gray: #ececec;
  --color-perl: #c4c4c4;
  --color-dark-gray: #585858FF;
  --color-success: #179613FF;
  --color-success-light: #3FC53BFF;
  --color-warning: #EEA509FF;
  --color-warning-light: #FFC955FF;
  --color-danger: #BD0000FF;
  --color-danger-light: #FF0000FF;
  --color-input-hover: #5222ce;
}


body {
  /*FUENTES*/
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-smoothing: antialiased;
}
